body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #212112;
    background-image: url(img/back.svg);
    background-position: center;
    background-repeat: repeat;
    background-size:7%;
    overflow-x: hidden;
    padding-top: 80px;
}

::selection {
	color: #fff;
	background-color: gray;
}

.layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.start-header {
	min-height: 5%;
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
}
.start-header {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
}
.start-header .navbar-brand img{
	height: 24px;
}
.navigation-wrap{
    background-color: #fff !important;
    transition: all 200ms linear;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
    filter: brightness(10%);
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
}

.nav-item.active .nav-link{
	color: #212121 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: gray;
}

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
}

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 30px;
	width: auto;
	display: block;
    filter: brightness(10%);
	transition: all 250ms linear;
}

main{
    flex-grow: 1;
}

footer {
    position: relative;
    width: 100%;
    background: #fff;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 -15px 10px -4px rgba(138, 155, 165, 0.15);
    flex-shrink: 0;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
  
.social-icon__item,
.menu__item {
    list-style: none;
}
  
.social-icon__link {
    font-size: 2rem;
    color: black;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    color: black;
    transform: translateY(-10px);
}
  
.menu__link {
    font-size: 1.2rem;
    color: black;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
}
  
.footer p {
    color: black;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.container-footer ul{
    padding: 0;
}

.menu a{
    text-decoration: none;
}

.menu a:hover{
    color: black;
}

.slider {
    margin: 0px 30px 20px 30px;
    padding: 50px;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    transition: 0.5s;
    background-color: #fcfaff;
    border-radius: 5px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.item {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    color: #212121;
}

.item_col {
    align-self: center;
    text-align: center;
}

.btn {
    padding: 10px;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    transition: 0.5s;
}

.slider .item img {
    object-fit: cover;
    width: 50%;
    height: 400px;
}

.previous, .next {
    align-self: center;
    cursor: pointer;
    transition: 0.5s;
    margin: 0px 10px 0px 10px;
}

.arrow_mobile {
    display: none;
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}

@media screen and (max-width: 800px) {
    .item {
        flex-direction: column;
    }

    .slider {
        margin: 0;
        padding: auto;
    }

    .slider .item img {
        width: 100%;
        height: 80%;
        padding: 10px;
    }

    .previous, .next {
        display: none;
    }

    .arrow_mobile {
        display: flex;
        justify-content: space-around;
    }

    .previous_mobile, .next_mobile {
        align-self: center;
        cursor: pointer;
        transition: 0.5s;
        color: white;
    }
}

.DopInf{
    background-color: black;
    margin: 60px 30px 60px 30px;
    padding: 4% 8% 4% 8%;
    color: #fff;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (max-width:800px){
    .DopInf{
        flex-direction: column;
    }

    .InfImg{
        min-width: 100%;
    }

    .InfH1{
        font-size: 35px !important; 
    }

    .InfP{
        font-size: 15px !important;
        margin-bottom: 5px;
    }
}

.InfImg{
    max-width: 50%;
}

.InfText{
    margin: 8% 4% 0% 0%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.InfH1{
    font-size: 55px;
}

.InfP{
    font-size: 25px;
}

.SliderImg{
    border-radius: 5px;
}

.Teem{
    font-size: 50px;
    text-align: center;
}

.TeemP{
    font-size: 30px;
    text-align: center;
}

#clock{
    font-size: 30px;
    text-align: center;
}

#map-container{
    margin-top: 0;
    text-align: center;
    width: 100%;
}

iframe{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 80%;
    height:80%;
}

.TeemBot{
    font-size: 30px;
    text-align: center;
}

.TeemCards{
    padding: 15px;
}
.clearfloat {
    content: '';
    display: block;
    clear: both;
}
.cards {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.cards li {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    text-align: center;
}

.cards li img {
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.cards li .details {
    float: left;
    text-align: left;
    text-shadow: 1px 1px rgba(0, 0, 0, 0);
    min-width: 250px;
}
.cards li .details > span,
.cards li .details > a {
    display: block;
    padding: 0 15px 0 35px;
    margin-bottom: 15px;
    text-decoration: none;
    position: relative;
}

.cards li .details a {
    color: #57893c;
}

.cards li .details .name {
    font-weight: 600;
}

@media (max-width: 550px) {
    .cards li {
      display: block;
      width: auto;
      max-width: 200px;
      margin: 30px auto;
    }
    .cards li img,
    .cards li .details {
      float: none;
    }
    .cards li img {
      margin: 0 auto;
    }
    .cards li .details {
      margin-top: 20px;
      text-align: center;
      min-width: 0;
    }
    .cards li .details span,
    .cards li .details a {
      padding: 0;
      white-space: break-all;
      word-wrap: break-word;
    }
}

.about_site{
    background-color: #fcfaff;
    margin: 2% 2% 8% 2%;
    border: #212112 solid 1px;
    border-radius: 15px;
    text-align: center;
}

.about_site p{
    font-size: 25px;
    line-height: 50px;
}

.gallery{
    display: grid;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fcfaff;
    border: gray 1px solid;
    padding: 3% 3% 3% 3%;
    margin: 0% 4% 0% 4%;
    justify-content: space-around;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
}

.gallery img{
    width: 100%;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
}

@media screen and (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1025px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.nav-but{
    color: white;
}

.nav-but:hover{
    text-decoration: none;
    color: white;
}

.nav-but:after{
    color: white;
}

.global{
    background-color: #fcfaff;
    margin: 2% 2% 8% 2%;
    padding: 2% 0% 0% 0%;
    border: #212112 solid 1px;
    border-radius: 15px;
    text-align: center;
}

.global p{
    font-size: 15px;
    line-height: 20px;
}

.slider h1{
    text-align: center;
    margin: 0% 0% 2% 0%;
}

main h1{
    text-align: center;
    margin: 0% 0% 2% 0%;
}